/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
  body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Verdana", "Geneva", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: blue;
}

.loginWrapper {
  background: white;
  padding: 2rem;
  box-shadow: 0 0 5px grey;
}

.actions {
  padding-bottom: 2rem;
}

.notice, .alert {
  margin: 0;
}

.card-block {
  background: #f2f2f2;
  padding: 0.5rem;
  margin: 1rem;
}

textarea#message_body {
  border-color: grey;
  border-radius: 2px;
  min-width: 50%;
  min-height: 2rem;
}

.new_message {
  margin-top: 1rem;
}

@import "bootstrap";
